<%- include('../includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/courses.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>

<div class="courses-container">
    <h1>Courses</h1>
    <% courses.forEach(course => { %>
        <div class="course">
            <h2><%= course.name %></h2>
            <p><%= course.description %></p>
            <p>Range: <%= course.range %>%</p>
            <div class="progress-bar">
                <div class="progress" style="width: <%= course.range %>%;"></div>
            </div>
            <% if(user.role==="Member"){ %>
            <% if(selected){ %>
            <a href="/<%= user.role.toLowerCase() %>/courses/<%= course._id %>" class="button">Course Content</a>
            <% }else{ %>
            <form action="/<%= user.role.toLowerCase() %>/courses/<%= course._id %>" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="button" type="submit">Add</button>
            </form>
            <% } %>
            <% } %>
        </div>
    <% }); %>
</div>
<% if(user.role==="Admin"){ %>
<div class="add-course-container">
    <h1>Add New Session</h1>
    <form action="/<%= user.role.toLowerCase() %>/courses" method="post">
        <div class="form-group">
            <label for="name">Course Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="range">Range</label>
            <input type="number" id="range" name="range">
        </div>
        <div class="form-group">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="button" type="submit">Add Course</button>
        </div>
    </form>
</div>
<% } %>
<%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>
</body>
</html>
