<%- include('../includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/online_res.css">

</head>
<body>
<%- include('../includes/navigation.ejs') %>

    <!-- Section 1: Self Assessment -->
    <section class="section-1">
        <div class="content">
            <div class="description">
                <h2>Self Assessment Quiz</h2>
                <p>Assess your mental well-being with our quiz. Gain insights into your current state and take steps towards improvement.</p>
                <% if(isAuthenticated){ %>
                    <% if(!user) { %>
                        <a href="/quiz" class="button" >Take Quiz</a>
                    <% }else{ %>
                        <% if(user.role!=="Admin"){ %>
                        <a class="button" href="/<%=  user.role === 'Admin' ? 'admin' : 'member' %>/quiz">Take Quiz</a>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
            <img src="/images/self_assessment.jpg" alt="Quiz Image">
        </div>
    </section>

    <!-- Section 2: Reading and Video Content -->
    <section class="section-2">
        <div class="content">
            <div class="description">
                <h2>Reading and Video Content</h2>
                <p>Explore a wealth of reading materials and videos on various topics related to mental health and well-being.</p>
                <a href="/<%= user.role.toLowerCase() %>/quiz" class="button">View Content</a>
            </div>
            <img src="/images/read_content.jpg" alt="Reading and Video Image">
        </div>
    </section>

    <!-- Section 3: Courses -->
    <section class="section-3">
        <div class="content">
            <div class="description">
                <h2>Courses</h2>
                <p>Discover the importance of our courses in addressing and managing mental health challenges. Start now to enhance your well-being.</p>
                <% if(isAuthenticated){ %>
                    <% if(!user) { %>
                        <a href="/<%=  user.role === 'Admin' ? 'admin' : 'member' %>/courses" class="button">Start Now</a>
                    <% }else{ %>
                        <a class="button" href="/<%=  user.role === 'Admin' ? 'admin' : 'member' %>/courses">Start Now</a>
                    <% } %>
                <% } %>
            </div>
            <img src="/images/courses.jpg" alt="Courses Image">
        </div>
    </section>
<%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>
